{% extends "layout.twig" %}

{% block content %}

{% include "includes/header.twig" %}

<div class="profile-header">
    {{widget('extendednavigation', 'extendednavigation', { 'align': 'right'})|raw}}
</div>

<div class="feature-container">
    <div class="feature-right-container">
        {{widget('feature', 'feature-right', {
            "header": "profile",
            "strapline": "profile",
            "defaultBgImg": asset('images/feature-bg.jpg'),
            "positionTopPercentage": "50",
            "showBtn": true,
            "buttonText": "Lorem Ipsum"
        })|raw}}
    </div>
</div>

<!-- Container -->
<div class="container">

	<!-- Page Content -->
	<section class="template-content">

		<!-- Main Widet Zone -->
	   	{{zone('main')|raw}}

	</section>
	<!-- End Page Content -->

</div>
<!-- End Container -->

{% include "includes/footer.twig" %}

{% endblock %}
